.pokemon{
  width: 33%;
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem;
    padding: 0;
    height: 30vh;
    width: 50%;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #b2ebf9;
}
.img{
    height: 8rem;
    width: auto;
    border-radius: 100%;
}
.title{
    Top :3%;
    height: 2rem;
}
.description{
    height: 3rem;
    width: 90%;
    margin: 0;
}
