
.card{
    display: flex;
    margin: 5rem;
    padding: 0;
    height: 30vh;
    width: 500px;
    border: 1px black solid;
    border-radius: 5px;
}

.img{
    height: 4rem;
    width: auto;
    border-radius: 100%;
    margin-left: 3rem;
    margin-top: 1rem;
}
.title-description{
    display: flex;
    height: 20vh;
    align-items: center;
    width: 70%;
    margin-top: 10%;
    flex-direction: column;
    margin-left: 3rem;
}
    .title{
        margin: 0;
        height: 2rem;
    }
    .description{
        height: 3rem;
        width: 90%;
        margin: 0;
    }
